@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Silkscreen&display=swap');

* { font-family: 'Silkscreen', cursive; }

body {
    background-color: #ff8a5d !important;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    top: 0;
}

#Principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    transition: 500ms;
}

h1 {
    text-align: center;
    height: 60px;
}

.title .casio {
    width: 91%;
}

.card {
    width: 600px; height: 700px !important;
    background-color: #f8efba !important;
    padding: 20px;
    border-radius: 0px;
    margin-top: 50px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none !important;
}

.cont_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.btnn {
    width: 100%; height: 50px;
    background-color: #23262e;
    color: #ffffff;
    border: 3px solid #f8efba;
    border-radius: 10px; 
    font-size: 1rem;
    outline: none;
    display: flex !important;
    flex-direction: column !important;
}

.seccion {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#Secciones {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#Secciones button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; height: 200px;
    padding: 10px;
    background-color: #23262e;
}

#Secciones button p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conversor {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%; height: 100%;
}

.temp {
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #616161;
}

.convertidaTemp {
    background-color: #23262e;
    height: 55px;
    margin: 0;
    border-radius: 0 8px 8px 0;
    border: 3px solid #f8efba;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion1 {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 4fr 3fr;
}

.seccion1 input {
    border-radius: 8px 0 0 8px;
    border: 3px solid #f8efba;
    width: 100%; height: 55px;
    font-size: 1.2rem;
    background-color: #23262e;
    color: #ffffff;
    text-align: center;
    outline: none;
}

.menu-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; height: 100%;
    background-color: #f8efba;
    border-radius: 0 0 50% 50%;
    z-index: 10;
}

.menu-hamburger .menu {
    width: 70px; height: 100%;
    color: #111113;
    background-color: #f8efba;
    border-radius: 0 0 50% 50%;
    cursor: pointer;
    border: none;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: center;
}

.container .menu-hamburger .tit { font-size: 2rem; font-weight: 100; text-align: center;}

.barr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23262e;
    width: 100%;
    height: 50px;
    color: #ffffff;
    border-radius: 10px;
    border: 3px solid #f8efba;
}

.menu-hamburger-temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; height: 60px;
    top: 100px; left: +1;
    border-radius: 20px 0;
}

.menu-hamburger-temperature .menu-temperature {
    width: 100%; height: 45px;
    color: #ffffff;
    cursor: pointer;
    background-color: #23262e;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.cont_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tras {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#Calculator {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between !important;
    text-align: center;
}

.screen {
    width: 100%; height: 100px;
    border-radius: .5rem;
    background-color: #23262e;
    font-size: 2.5rem;
    outline: none;
    cursor: none !important;
}

input {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    border: 5px solid #f8efba;
    background-color: #23262e;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

input:hover {
    background-color: #262832;
    border-color: #40e78e;
    color: #ffffff;
    font-weight: 900;
}

.cont { padding-top: 55px; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
h1 { font-size: 1.5rem; }
i { color: rgb(255, 255, 255); font-size: 3rem; }
#Secciones button img { width: 70px; }
.conver { cursor: pointer; text-align: center; }
.seccion2 { display: flex; }
#Intro { padding-top: 30px; height: 300px; }
#Long { padding-top: 30px; height: 300px; }
#Intro button { padding-left: 170px; text-align: start; }
#Long button { padding-left: 170px; text-align: start; }
.tras img { width: 30px; -webkit-filter: invert(100%); filter: invert(80%); }
.cont-nums { 
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.selected { background-color: #23262e; color: #fff; }

#cont_menu,
#Juego, 
#Fahrenheit, 
#Rankine, 
#Reaumur, 
#Kelvin, 
#Celsius, 
#Calculator { 
    display: none; 
}

#cont_menuLong,
#Longitud,
#Kilometro,
#Metro,
#Decimetro,
#Centimetro,
#Milimetro {
    display: none;
}
